header
{
margin: 40px; 
font-size: 40px;
text-align: center;
font-family: 'Merriweather', serif;
}

article
{
background-color:#E7E6E6;
width:60%;
padding: 10pt;
margin: 0 auto;
border-radius: 30px;
}


input[type="text"] 
{
width:250px;
height: 30px;
border-radius: 3px;
text-align: center;
}
input[type="password"] 
{
width:250px;
height: 30px;
border-radius: 3px;
text-align: center;
}
.col{
	padding: 7pt auto;
	min-width:46%;
	max-width:50%;
	margin: 10pt;
	display:inline-block;
}
a{
    background-color: #eee;
    background-image: -moz-linear-gradient(center top , #eee, #ddd);
    border: 0 none;
    border-radius: 10pt;
    box-shadow: 0 2pt 2pt 0 #999999;
	height: 20pt;
    line-height: 20pt;
	padding: 7pt;
	margin:5pt;
	text-decoration: none;
	font-size:20pt;
	display:block;
	text-align:center;
}
input[type="submit"]
{
width:122px;
height: 30px;
border-radius: 3px;
background: -moz-linear-gradient(#BEBEBE, #D3D3D3);
background: -webkit-gradient(linear, 0 0, 0 100%, from(#BEBEBE), to(#D3D3D3));
font-size: 15px;
text-align: center;
}
p
{
font-size: 15px;
text-align: center;
}
.maintext
{
font-size: 18px;
font-family: 'Merriweather', serif;
}
#balance
{
display: none;
font-size: 18px;
font-family: 'Merriweather', serif;
background-color:#F5F5F5;
width: 300px;
height: 300px;
position: absolute;
top: 50%;
left: 50%;
margin: -150px 0 0 -150px;
border-radius: 30px;
}